@mixin Manrope-font($color, $font-size, $font-weight) {
  color: $color;
  font-family: "Manrope", sans-serif;
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: normal;
}

@mixin dynapuff-font($color, $font-size, $font-weight) {
  color: $color;
  font-family: "DynaPuff", sans-serif;
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: normal;
}

@mixin share-circle {
  position: relative;
  display: block;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    width: 56px;
    height: 56px;
    fill: #fff;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.09));
    backdrop-filter: blur(5px);
    border-radius: 50%;
    background-color: $bg-white-color;
    z-index: 2;
    background-image: url("../images/icons/share-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@mixin figure-1 {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/main-pic/Soft Star.png");
    width: 16.75rem;
    height: 16.75rem;
    top: 50%;
    right: 53%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }
}
@mixin figure-2 {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/main-pic/Butterfly.png");
    width: 11.6875rem;
    height: 11.9375rem;
    top: 50%;
    right: 55%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }
}
@mixin figure-3 {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/main-pic/Asterisk 1.png");
    width: 14.5625rem;
    height: 14.0625rem;
    top: 50%;
    right: 55%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }
}

@mixin figure-1-tablet {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/main-pic/graphics-sec/graphics-1-tablet.png);
    width: 14.1875rem;
    height: 14.1875rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }
}

@mixin figure-2-tablet {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/main-pic/graphics-sec/graphics-2-tablet.png);
    width: 9.1875rem;
    height: 9.4375rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }
}

@mixin figure-3-tablet {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/main-pic/graphics-sec/graphics-3-tablet.png);
    width: 11.4375rem;
    height: 11.0625rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }
}

@mixin figure-1-mobile {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/main-pic/graphics-sec/graphics-1-mobile.png);
    width: 10.75rem;
    height: 10.75rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }
}
@mixin figure-2-mobile {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/main-pic/graphics-sec/graphics-2-mobile.png);
    width: 8.375rem;
    height: 8.5625rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }
}

@mixin figure-3-mobile {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/main-pic/graphics-sec/graphics-3-mobile.png);
    width: 9.25rem;
    height: 8.9375rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-repeat: no-repeat;
  }
}

@mixin next-arrow {
  position: relative;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    position: relative;
    background-image: url(../images/icons/next-arrow.png);
    width: 3.5610025rem;
    height: 1.8125rem;
    margin-left: 24px;
    background-repeat: no-repeat;
  }
}

@mixin next-arrow-mobile {
  position: relative;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    position: relative;
    background-image: url(../images/icons/next-arrow-mobile.png);
    width: 2.1875rem;
    height: 1.0625rem;
    margin-left: 20px;
    background-repeat: no-repeat;
  }
}
