$grey-color: #565656;
$black-color: #000;
$white-color: #fff;
$yellow-color: #faeb49;
$bg-start-screen-color: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
$bg-black-color: #202020;
$bg-white-color: #fffef2;
$bg-grey-color: #3c3c3c;