
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.625rem;
}

.main {
    & img {
        max-width: 100%;
        display: block;
        height: auto;
    }
}



