<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <a class="footer__logo" href="#">
                <img class="footer__logo-img" src="./images/footer-pic/Dawn.svg" alt="Footer Logo" width="108" height="108">
                <div class="footer__logo-text__wrapper">
                    <h2 class="footer__logo-title">Have a new project?</h2>
                    <p class="footer__logo-text">Book a call now</p>
                </div>
            </a>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#"><img class="footer__link-img" src="./images/footer-pic/twitch 1.svg"
                                                          alt="Twitch Logo" width="24" height="24"></a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#"><img class="footer__link-img" src="./images/footer-pic/twitter 1.svg"
                                                          alt="Twitter Logo" width="24" height="24"></a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#"><img class="footer__link-img"
                                                          src="./images/footer-pic/instagram 1.svg" alt="Instagram Logo" width="24" height="24"></a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#"><img class="footer__link-img"
                                                          src="./images/footer-pic/linkedin 1.svg" alt="LinkedIn Logo" width="24" height="24"></a>
                </li>
            </ul>
        </nav>
        <p class="footer__text">Copyright © 2023 Syeda Urooj</p>
    </div>
</footer>
