<!-- Use BEM TWO DASHES Class style -->
<header class="header ">
    <div class="container">
        <nav class="header__nav">
            <a class='header__logo' href="#"><img src="../images/header-pic/Hope.svg" alt="logo" width="56" height="56"></a>
            <ul class="header__list ">
                <li class="header__item"><a class="header__link" href="#"><img class="header__link-img"
                                                                               src="./images/header-pic/portfolio.svg"
                                                                               alt="Portfolio" width="16" height="16">Portfolio</a>
                </li>
                <li class="header__item"><a class="header__link" href="#"><img class="header__link-img"
                                                                               src="./images/header-pic/resume.svg"
                                                                               alt="Portfolio" width="16" height="16">Resume</a>
                </li>
                <li class="header__item"><a class="header__link" href="#"><img class="header__link-img"
                                                                               src="./images/header-pic/flower.svg"
                                                                               alt="Portfolio" width="16" height="16">Testimonials</a>
                </li>
                <li class="header__item"><a class="header__link" href="#"><img class="header__link-img"
                                                                               src="./images/header-pic/contact.svg"
                                                                               alt="Portfolio" width="16" height="16">Contact</a>
                </li>
            </ul>
        </nav>

    </div>
</header>