<main class="main">
    <section class="start-screen">
        <div class="container">
            <h1 class="start-screen__title">Unleash Creativity Through Minimalism.</h1>
        </div>
    </section>
    <section class="meet">
        <div class="container">
            <h2 class="meet__title">Meet Alex Johnsson</h2>
            <p class="meet__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna.</p>
            <ul class="meet__list">
                <li class="meet__item">
                    <p class="meet__item-text">39</p>
                    <p class="meet__item-subtext">Happy Clients</p>
                </li>
                <li class="meet__item">
                    <p class="meet__item-text">50</p>
                    <p class="meet__item-subtext">Sleek Projects</p>
                </li>
                <li class="meet__item">
                    <p class="meet__item-text">24</p>
                    <p class="meet__item-subtext">App Designs</p>
                </li>
            </ul>
        </div>
    </section>
    <!-- Project-->
    <section class="project">
        <div class="container">
            <ul class="project__list">
                <li class="project__item project__item--main">
                    <a href="#" class="project__link project__link--main">

                        <picture>
                            <source media="(min-width: 769px)"
                                    srcset="./images/main-pic/Frame17.jpg">

                            <source media="((min-width: 600px) and (max-width: 768px))"
                                    srcset="./images/main-pic/Frame17.jpg">

                            <source media="((min-width:290px) and (max-width: 599px))"
                                    srcset="./images/main-pic/Frame17.jpg">


                            <img class="project__link-img" src="./images/main-pic/Frame 17.jpg"
                                 alt="Main Project" width="1010" height="498">
                        </picture>
                        <h2 class="project__link-title">Project: Banking Mobile App</h2>
                        <p class="project__link-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </a>
                </li>


                <li class="project__item project__item--submain">
                    <a href="#" class="project__link project__link--submain">
                        <picture>
                            <source media="(min-width: 769px)"
                                    srcset="./images/main-pic/Frame18.jpg">

                            <source media="((min-width: 600px) and (max-width: 768px))"
                                    srcset="./images/main-pic/Frame18.jpg">


                            <img class="project__link-img" src="./images/main-pic/Frame18.jpg"
                                 alt="Main Project" width="285" height="338">

                        </picture>
                        <h3 class="project__link-title">Banking Mobile App</h3>
                        <p class="project__link-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </a>
                </li>

                <li class="project__item project__item--submain">
                    <a href="#" class="project__link project__link--submain">
                        <picture>
                            <source media="(min-width: 769px)"
                                    srcset="./images/main-pic/Frame 19.jpg">

                            <source media="((min-width: 600px) and (max-width: 768px))"
                                    srcset="./images/main-pic/Frame 19.jpg">

                            <source media="((min-width:290px) and (max-width: 599px))"
                                    srcset="./images/main-pic/Frame 19.jpg">

                            <img class="project__link-img" src="./images/main-pic/Frame 19.jpg"
                                 alt="Main Project" width="285" height="338">

                        </picture>

                        <h3 class="project__link-title">Save Planet Mobile app</h3>
                        <p class="project__link-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </a>
                </li>
                <li class="project__item project__item--submain">
                    <a href="#" class="project__link project__link--submain">
                        <img class="project__link-img" src="./images/main-pic/Frame20.jpg"
                             alt="Main Project" width="285" height="338">
                        <h3 class="project__link-title">Banking Mobile App</h3>
                        <p class="project__link-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="graphics">
        <div class="container">
            <h2 class="graphics__title">Graphics Design</h2>
            <ul class="graphics__list">
                <li class="graphics__item graphics__item--first">
                    <picture>
                        <source media="(min-width: 769px)"
                                srcset="./images/main-pic/unsplash_graphic.png">

                        <source media="((min-width: 600px) and (max-width: 768px))"
                                srcset="./images/main-pic/unsplash_graphic.png">

                        <source media="((min-width:290px) and (max-width: 599px))"
                                srcset="./images/main-pic/unsplash_graphic.png">


                        <img class="graphics__item-img " src="./images/main-pic/unsplash_graphic.png"
                             alt="Graphics Design" width="1120" height="414">
                    </picture>
                </li>
                <li class="graphics__item graphics__item--second">
                    <picture>
                        <source media="(min-width: 769px)"
                                srcset="./images/main-pic/Rectangle6.png">

                        <source media="((min-width: 600px) and (max-width: 768px))"
                                srcset="./images/main-pic/Rectangle6.png">

                        <source media="((min-width:290px) and (max-width: 599px))"
                                srcset="./images/main-pic/Rectangle6.png">


                        <img class="graphics__item-img" src="./images/main-pic/Rectangle6.png"
                             alt="Graphics Design" width="514" height="414">
                    </picture>
                </li>
                <li class="graphics__item graphics__item--third">
                    <picture>
                        <source media="(min-width: 769px)"
                                srcset="./images/main-pic/Rectangle7.png">

                        <source media="((min-width: 600px) and (max-width: 768px))"
                                srcset="./images/main-pic/Rectangle7.png">

                        <source media="((min-width:290px) and (max-width: 599px))"
                                srcset="./images/main-pic/Rectangle7.png">


                        <img class="graphics__item-img" src="./images/main-pic/Rectangle7.png"
                             alt="Graphics Design" width="514" height="414">
                    </picture>
                </li>
            </ul>
        </div>
    </section>

    <section class="slogan">
        <div class="container">
            <h2 class="slogan__title">“Good design is like a refrigerator - when it works, no one notices, but when it
                doesn't, it sure stinks.”</h2>
        </div>
    </section>


</main>