.header {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__list {
    display: flex;
    gap: 1.25rem;
  }
  &__link {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #fff;
    @include Manrope-font(#fff, 16px, 700);

    &:active {
      box-shadow: 0px 0px 27px 2px rgba(255, 255, 255, 0.8);
    }
  }
}

