.footer {
  background-color: $bg-black-color;
  width: 100%;
  padding: 4.875rem 0 1.875rem 0;
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    padding: 2.625rem 8.5625rem;
    border-radius: 139px;
    border: 1px solid #f2f2f2;
    gap: 2.8125rem;
    margin-bottom: 10.1875rem;
    &-title {
      @include dynapuff-font($white-color, 3rem, 700);
    }
    &-text {
      @include Manrope-font($white-color, 1.5rem, 500);
      @include next-arrow;

    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 2.125rem;
    margin-bottom: 1.3125rem;
  }
  &__text {
    @include Manrope-font($white-color, 1rem, 500);
    text-align: center;
  }
}



