// ====================== START screen Section ======================
.start-screen {
  display: flex;
  align-items: flex-end;
  background: $bg-start-screen-color;
  width: 100%;
  height: 100svh;
  padding-top: 5.75rem;
  overflow: hidden;

  &__title {
    @include dynapuff-font($white-color, 5rem, 700);
    padding-bottom: 7.4375rem;
  }
}

//====================== MEET Section ======================
.meet {
  background-color: $bg-black-color;
  width: 100%;
  height: 29.375rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 16.75rem;
    height: 32rem;
    transform: rotate(45deg);
    border-radius: 8.375rem / 16rem;
    border: 0.0625rem solid #737373;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 16.75rem;
    height: 32rem;
    transform: rotate(-45deg);
    z-index: 1;
    border-radius: 8.375rem / 16rem;
    border: 0.0625rem solid #737373;
  }

  & > .container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;
    z-index: 2;
  }

  &__title {
    @include dynapuff-font($yellow-color, 3rem, 700);
  }

  &__text {
    @include Manrope-font($white-color, 1rem, 500);
    max-width: 32.5rem;
  }

  &__list {
    display: flex;
    gap: 6rem;
  }

  &__item {
    &-text {
      @include dynapuff-font($white-color, 3rem, 700);
    }

    &-subtext {
      @include Manrope-font($white-color, 1rem, 700);
    }
  }
}

.project {
  background-color: $bg-grey-color;
  width: 100%;
  padding: 5.375rem 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 2.5rem;
    grid-row-gap: 3.9375rem;
  }

  &__item {
    border-radius: 1.5rem;
    background: $bg-white-color;

    &--main {
      padding: 1.5rem 1.25rem;
      width: 100%;
      grid-column: 1 / span 3;

      & .project__link {
        @include share-circle;

        &-img {
          border-radius: 0.8125rem;
          margin-bottom: 1.25rem;
          width: 100%;
        }

        &-title {
          @include dynapuff-font($grey-color, 2.5rem, 600);

          margin-bottom: 1.375rem;
        }

        &-text {
          @include Manrope-font($black-color, 1rem, 700);
          max-width: 36.25rem;
        }
      }
    }

    &--submain {
      padding: 1.25rem;

      & .project__link {
        @include share-circle;

        &-img {
          margin-bottom: 1.25rem;
          border-radius: 0.8125rem;
          width: 100%;
        }

        &-title {
          @include dynapuff-font($grey-color, 1.5rem, 700);
          margin-bottom: 1.375rem;
        }

        &-text {
          @include Manrope-font($black-color, 1rem, 500);
        }
      }
    }
  }
}

.graphics {
  padding: 5.125rem 0 8.625rem 0;
  background-color: $bg-black-color;

  &__title {
    @include dynapuff-font($white-color, 5rem, 700);
    margin-bottom: 2.375rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.625rem;
  }

  &__item--first {
    grid-column: 1 / span 2;
    @include figure-1;
  }

  &__item--second {
    @include figure-2;
  }

  &__item--third {
    @include figure-3;
  }

  &__item-img {
    border-radius: 40px;
  }
}

// ======================= Slogan  Section ======================

.slogan {
  background-image: url("../images/footer-pic/Rectangle 8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;

  &__title {
    @include dynapuff-font($white-color, 3rem, 700);
    text-align: center;
  }
}

